@charset 'utf-8';

@import 'abstracts/_abstracts-dir';
@import 'base/_base-dir';
@import 'components/_components-dir';
@import 'layout/_layout-dir';
@import 'pages/_pages-dir';
@import 'abstracts/_abstracts-dir';
@import 'themes/_themes-dir';

body {
  font-family: $font-family;
}

main {}

.form__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
}
