:root {
  --primary-color: #4A3A82;
}

.content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: #ffffff;

  button {
    background: none;
    border: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__icon {
  width: 24px;
}
